/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

/* Style dell'header */
header{
    background-color: #ff6900;
    padding: 20px 0;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.head-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-content a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 0 5px;
}

/* Inizio del main */
main{
    margin-top: 120px;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card{
    width: calc(100% / 3 - 10px);
    margin-bottom: 30px;
}

.card-image{
    position: relative;
    /* display: inline-block; */
    height: 471px;
}

.main-img{
    width: 100%;
    z-index: 1;
    position: relative;
    display: inline-block;
}

/* .main-img:hover{
    display:none;
} */

.hover-img{
    width: 100%;
    position: relative;
    top: 0px;
    right: 0px;
    display: none;
}

.badge{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    bottom: 80px;
    z-index: 2;
}

.badge .sale{
    margin-right: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.badge .attribute{
    padding: 5px 10px;
    background-color: green;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.favorite{
    position: relative;
    left: calc(100% - 30px);
    bottom: 450px;
    z-index: 2; 
    background-color: white;
    padding: 10px;
    display: inline;
}

.brand{
    font-size: 12px;
}

.name-product{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

.pricing{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
}

.sale-price{
    color: red;
    margin-right: 5px;
    font-weight: bold;
}

.erased-price{
    text-decoration: line-through;
}
/* Fine del main */

footer{
    background-color: #1a1a1a;
    color: white;
    padding: 25px 0;
    border-bottom: solid 2px white;
}

footer .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-content a{
    text-decoration: none;
    color: white;
}

.company-name{
    font-weight: bold;
}

#social-cta{
    font-size: 12px;
    font-weight: bold;
}

.social-icons{
    text-align: right;
    font-size: 18px;
}

footer .footer-content .col-sx a{
    font-size: 12px;
}

footer .footer-content .col-dx a{
    font-size: 16px;
}